files/vim/bundle/*
files/vim/.netrwhist

files/sublime-text-3/config/Package Control.cache
files/sublime-text-3/config/Package Control.last-run
files/sublime-text-3/vendor
files/keyboard/current
files/i3/config
