[user]
	name = jngermon
	email = jn.germon@code202.fr
	signingkey = 3E9F84A062D04F13D3D6660533CF6F7D684C0E9F
[core]
	editor = vim
	excludesfile = /home/jngermon/.gitignore_global
[push]
	default = simple
[diff]
    algorithm = patience
[gpg]
	format = openpgp
[commit]
	gpgsign = true
[tag]
	gpgSign = true
